<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ejs</h1>
    <form action="/insertData" method="post">
        ID : <input type="text" name="id" placeholder="id">
        Name : <input type="text" name="name" placeholder="name">
        <input type="submit">
    </form>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>NAME</th>
        </tr>
        <% student.map((el,i)=>{ %>
            <tr>
                <td>
                    <%=el.id%>
                </td>
                <td>
                    <%=el.name%>
                </td>
                <td><a href="/delete?id=<%=el.id%>">delete</a></td>
            </tr>
            <% }) %>
    </table>
</body>

</html>